.main-page {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;

  @media (max-width: 1080px) {
    padding: 5%;
  }
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;

  @media (max-width: 1080px) {
    flex-direction: column;
  }

  .brand {
    top: 0;
    left: 0;
    gap: 12px;
    display: flex;
    color: black;
    font-weight: 500;
    position: absolute;
    align-items: center;
    text-decoration: none;
    @media (max-width: 1080px) {
      flex-direction: column;
      position: static;
      margin-bottom: 56px;
    }
  }

  .register {
    margin: auto;
    min-width: 360px;

    .register-form {
      margin-top: 56px;
    }

    @media (max-width: 1080px) {
      flex: none;
      min-width: 0;
      width: 100%;
    }
  }
}

.right {
  width: 768px;
  display: flex;
  border-radius: 40px;
  background-color: #cbcce8;

  .bg-image {
    height: 100%;
    margin: auto;
  }

  @media (max-width: 1080px) {
    display: none;
  }
}
