.blog-item {
  width: 30%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 40px;
  transition: 0.3s ease-in-out;
  max-height: 507px;

  @media (max-width: 1024px) {
    width: 47.5%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: translateY(-3px);
  }

  .head-card-wrapper {
    position: relative;

    .image-thumb {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .more {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: 16px;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: rgb(82, 82, 82);
      }

      .more-wrapper {
        position: relative;
        .more-icon-wrapper {
          display: flex;
          gap: 2px;
          cursor: pointer;

          span {
            display: inline-block;
            background: #fff;
            width: 5px;
            height: 5px;
            border-radius: 50%;
          }
        }

        .more-menu {
          position: absolute;
          background-color: #fff;
          right: 0;
          top: 15px;
          border-radius: 5px;
          display: none;

          p {
            padding: 10px 20px;
            font-weight: 500;

            &:hover {
              background-color: rgb(219, 219, 219);
            }
          }
        }
        .more-menu.show {
          display: block;
        }
      }
    }
  }

  .content-detail {
    padding: 16px;

    .title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }
    .author {
      font-size: 14px;
      margin-top: 4px;
      color: gray;
    }
    .body {
      margin-top: 18px;
      overflow: hidden;
      line-height: 2rem;
      max-height: 8rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
    }
  }
}
